<tr>
    <td>{{ character.name }}</td>
    <td>{{ character.owner }}</td>
    <td>{{ character.skill_points }}</td>
    <td>{{ character.rank }}</td>
    <td>{{ character.fights_count }}</td>
    <td>{{ character.wins_count }} - {{ character.draws_count }} - {{ character.losses_count }}</td>
</tr>
