<tr>
    <td>{{ fight.winner_name }}</td>
    <td>{{ fight.initiator_name }}</td>
    <td>{{ fight.initiator_rank }}</td>
    <td>{{ fight.opponent_name }}</td>
    <td>{{ fight.opponent_rank }}</td>
    <td>{{ fight.turns_count }}</td>
</tr>
