{% extends 'base.html.twig' %}

{% block body %}

    <table id="table-characters" class="striped">
        <thead>
        <tr>
            <td>Name</td>
            <td>Owner</td>
            <td>Skill Points</td>
            <td>Rank</td>
            <td>Fights Count</td>
            <td>Wins - Draws - Losses</td>
        </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr>
                <td>{{ character.name }}</td>
                <td>{{ character.owner }}</td>
                <td>{{ character.skill_points }}</td>
                <td>{{ character.rank }}</td>
                <td>{{ character.fights_count }}</td>
                <td>{{ character.wins_count }} - {{ character.draws_count }} - {{ character.losses_count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock body %}
