<table id="table-accounts" class="striped">
    <thead>
    <tr>
        <td>Username</td>
        <td>Email</td>
        <td>Active</td>
        <td>Characters</td>
        <td>Link</td>
    </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
            <tr>
                <td>{{ account.username }}</td>
                <td>{{ account.email }}</td>
                <td>{{ account.is_active }}</td>
                <td>{{ account.character_count }}</td>
                <td><a href="{{ path('accounts_one', { 'id': account.id }) }}">Details</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
